.App {
  text-align: center;
}
.maint {
  margin: auto;
  width: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.m {
  background-color: greenyellow;
  color: grey;
}
.s {
  background-color: yellow;
  color: grey;
}
.ms {
  background-color : orange;
  color: grey;
}
